img {
  width: 100%;
  height: auto;
}

* {
  line-height: 1.7;
  font-family: "Shippori Mincho", serif;
}

a {
  text-decoration: none;
  color: inherit;
}
.header {
  display: flex;
  align-items: center;
  padding: 0 30px;
  background-color: #000;
  color: #fff;
}
.header-ttl {
  font-family: 'Shippori Mincho';
  font-size: 24px;
  width: 80px;
}
.header-nav-list {
  display: flex;
  font-family: 'Shippori Mincho';
  font-weight: bold;
  list-style: none;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

.firstview {
  position: relative;
  top: 50%;
}

.firstview__img {
background-image: url("../img/firstview.png");
background-size: cover;
background-repeat: no-repeat;
width: 100%;
}

.title-wrap {
 font-family: 'Shippori Mincho';
 color: #fff; 
 font-size: 60px;
 position: absolute;
 top: 30%;
 left: 20%;
}

.spring {
 font-family: 'Shippori Mincho';
 color: #fff;
 font-size: 22px;
 position: absolute;
 top: 45%;
 left: 22%;
}

.topics {
  display: flex;
  flex-wrap: wrap;
}


.topics__item {
  width: 33.3333%;
  position: relative;
}


.topics__item-content {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 20px;
}


.topics__item-ttl {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.wrap {
  column-count: 3;
  width: 90%;
  margin: 0 auto
}
.item{
  break-inside: avoid;
  text-align: center;
}
.item img{
  width: 100%;
  margin-top: 30px;
}

.about {
  padding: 60px 0;
  background: #000;
}


.about__inner {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.about__img {
  width: 40%;
}


.about__content {
  width: 50%;
  color: #fff;
}


.about__content-subttl {
  font-size: 24px;
}


.about__content-ttl {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}


.new-line {
  margin-bottom: 20px;
  display: block;
}


.about__content-txt {
  margin-bottom: 25px;
}


.about-btn {
  border: 2px solid #fff;
  color: #fff;
  padding: 15px 40px;
  display: inline-block;
}

.footer {
  width: 100%;
  background-color: black;
  padding: 10px 0;
  display: flex;
  color: #fff;
  font-family: 'Shippori Mincho';
  text-align: center;
}

.copyright {
  font-size: 14px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .tab {
    display: block;
  }


  .pc {
    display: none;
  }


  .topics__item-ttl {
    font-size: 20px;
  }
  .styles-wrap__item {
    width: 49%;
  }
  .about__content {
    width: 58%;
  }
}
@media screen and (max-width: 480px) {
  .firstview {
    background: url(../img/firstview-sp.png) no-repeat;
    background-size: cover;
  }
  .firstview__content {
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
  }


  .topics__item {
    width: 100%;
  }


  .about__img,
  .about__content {
    width: 100%;
  }


  .about__content {
    text-align: center;
    margin-top: 40px;
  }
}